body {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: purple;
}
/*
food.x {
  animation-name: pm;
  animation-duration: 2s;
}

@keyframes pm {
  from {
    max-zoom: 0;
  }
  to {
    max-zoom: 1;
  }
}
*/
